.left-header-style {
  color: #fff;
  position: fixed;
  left: 0;
  width: 290px;
  background: #24243557;
  overflow-x: hidden;
  overflow-y: auto;
  top: 0;
  z-index: 1;
  height: 100vh;
  transform: translateX(0px);
  padding: 50px 40px 40px;
  transition: all 0.3s ease-in-out;
  flex-direction: column;
  justify-content: space-between;
}

.left-header-style .logo-area {
  margin-bottom: 50px;
}

.left-header-style .logo-area a img {
  max-width: 110px;
}

.left-header-style .sidebar-nav-wrapper {
  min-height: 500px;
}

.left-header-style .mainmenu-nav .mainmenu {
  margin-top: 30px;
  flex-wrap: wrap;
}

.left-header-style .mainmenu-nav .mainmenu .nav-item a {
  padding: 10px 0;
  margin: 0px;
  display: flex;
  /* position: relative; */
  align-items: center;
  transition: 0.3s;
  font-size: 16px;
  color: #acacac;
  cursor: pointer;
}

.left-header-style .mainmenu-nav .mainmenu .nav-item {
  position: relative;
}

.left-header-style .mainmenu-nav .mainmenu .nav-item a .iconify {
  background: #212e48;
  margin-right: 15px;
  padding: 7px;
  border-radius: 4px;
  width: 29px;
  height: auto;
  transition: 0.3s;
  color: #fff;
}

.left-header-style .mainmenu-nav .mainmenu .nav-item a::after {
  content: "";
  position: absolute;
  right: 0;
  width: 2px;
  height: 50%;
  background: #00a3ff;
  top: 43%;
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.left-header-style .mainmenu-nav .mainmenu .nav-item a:hover {
  color: #00a3ff;
}

.left-header-style .mainmenu-nav .mainmenu .nav-item a:hover .iconify {
  background: #00a3ff;
}

.left-header-style .mainmenu-nav .mainmenu .nav-item:hover a::after {
  opacity: 1;
  visibility: inherit;
}

.left-header-style .auther-profile {
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  background: #24243557;
}

.left-header-style .auther-profile .thumbnail {
  margin-top: -50px;
  margin-bottom: 8px;
  position: relative;
}

.left-header-style .auther-profile .thumbnail::after {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  background: #31a24c;
  border-radius: 50%;
  z-index: 5;
  top: 70%;
  right: 67px;
}

.left-header-style .auther-profile .thumbnail img {
  border-radius: 50%;
  max-width: 66px;
  border: 3px solid #ffffff14;
}

.left-header-style .auther-profile .au-content .name {
  margin-bottom: 4px;
  color: #fff;
  font-weight: 600;
}

.left-header-style .auther-profile .au-content .bcl {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0px;
  color: #acacac;
}

.left-header-style .auther-profile .au-content .bcl .value {
  color: #00a3ff;
}

/* content right */

.pr--40px {
  padding-right: 40px;
}

.rn-nft-mid-wrapper {
  padding-left: 320px;
}

.rn-nft-mid-wrapper .rn-top-bar-area {
  padding: 25px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.rn-nft-mid-wrapper .rn-top-bar-area .input-group {
  max-width: 360px;
}

.rn-nft-mid-wrapper .rn-top-bar-area .input-group input {
  background: #3a3a5157;
  color: #e4e6ea;
  border-radius: 5px 0 0 5px;
  max-width: 220px;
  font-size: 14px;
  border: none;
}

.rn-nft-mid-wrapper .rn-top-bar-area .input-group .input-group-append button {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.rn-nft-mid-wrapper
  .rn-top-bar-area
  .input-group
  .input-group-append
  button
  .iconify {
  font-size: 18px;
}

.rn-nft-mid-wrapper .contact-area .setting-option {
  margin: 5px;
}

.rn-nft-mid-wrapper .contact-area {
  display: flex;
  align-items: center;
  margin: -5px;
}

.rn-nft-mid-wrapper .contact-area .icon-box {
  position: relative;
}

.rn-nft-mid-wrapper .contact-area .icon-box > a {
  background: #212e48;
  border-radius: 5px;
  transition: 0.3s;
  width: 40px;
  height: 40px;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  margin: 0;
  color: #fff;
}

.rn-nft-mid-wrapper .contact-area .icon-box > a.btn {
  width: auto;
  padding: 0 20px;
}

.rn-nft-mid-wrapper .contact-area .icon-box .badge {
  position: absolute;
  top: -6px;
  background: #00a3ff;
  border-radius: 500px;
  height: 20px;
  min-width: 20px;
  line-height: 20px;
  right: -2px;
  padding: 0 5px;
}

.rn-nft-mid-wrapper .contact-area .icon-box > a:hover {
  background: #00a3ff;
}
.pb--70 {
  padding-bottom: 70px;
}

.eight-section .discover-filter-button {
  background: transparent;
  width: auto;
  font-size: 16px;
  border: 1px solid #ffffff14;
  height: 47px;
  border-radius: 500px;
  padding: 0 26px;
  text-align: center;
  margin: 5px;
  min-width: 95px;
  color: #acacac;
  transition: 0.3s;
}

.eight-section .discover-filter-button.is-active {
  background: #212e48;
  color: #00a3ff;
  border-color: #212e48;
}

.eight-section .discover-filter-button:hover {
  background: #212e48;
  color: #00a3ff;
  border-color: #212e48;
}

.large-mobile-blog-search {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.large-mobile-blog-search.is-active {
  opacity: 1;
  visibility: inherit;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.rn-search-mobile.form-group {
  position: absolute;
  top: 100%;
  background: #242435;
  width: 100%;
  right: 0;
  margin-bottom: 0;
  padding: 20px;
  z-index: 3;
}

.form-group input {
  border: 0 none;
  border-radius: 4px;
  height: 50px;
  font-size: 18px;
  transition: 0.3s;
  padding: 0 20px;
  background: #212e48;
  color: #acacac;
  padding-right: 52px;
  width: 100%;
  border: 1px solid transparent;
}

.bg_image--23 {
  background-image: url(../images/bg/bg-image-23.jpg);
}
.bg_image--22 {
  background-image: url(../images/bg/bg-image-22.jpg);
}
.bg_image--21 {
  background-image: url(../images/bg/bg-image-21.jpg);
}

.bg_image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg_image::before {
  width: 100%;
  height: 100%;
  background: #000000;
}

.pb--190 {
  padding-bottom: 190px !important;
}
.pt--150 {
  padding-top: 150px !important;
}

.pl--30 {
  padding-left: 30px !important;
}

.rn-banner-area .rn-banner-wrapper {
  width: 100%;
  height: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
}

.rn-banner-area .rn-banner-wrapper h2.title {
  font-size: 40px;
  margin-bottom: 0;
  font-weight: 600;
  color: #fff;
}

.rn-banner-area .rn-banner-wrapper h2 span {
  color: #00a3ff;
}

.rn-banner-area .countdown {
  display: flex;
  bottom: 10px;
  cursor: pointer;
  padding: 5px 8px;
  z-index: 2;
  border-radius: 5px;
  max-width: 220px;
}

.rn-banner-area .countdown .countdown-container {
  position: relative;
  margin: 4px;
}

.rn-banner-area .countdown .countdown-container .countdown-values {
  display: inline-block;
  padding: 3px 8px;
  font-size: 22px;
  color: #ffff;
  font-weight: 600;
  background-color: #2a2a418c;
  backdrop-filter: blur(10px);
  border-radius: 5px;
  align-items: center;
  text-align: center;
}

.rn-banner-area .countdown .countdown-container::after {
  content: ":";
  position: absolute;
  top: 0;
  color: #acacac;
  width: 5px;
  height: 30px;
  font-size: 20px;
}

.rn-banner-area .countdown .countdown-container:last-child::after {
  content: "";
}

.rn-banner-area .countdown .countdown-container .countdown-heading {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  color: #acacac;
}

.rn-banner-area .item-description .product-share-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.rn-banner-area .item-description .profile-share {
  display: flex;
  align-items: center;
}

.rn-banner-area .item-description .profile-share a {
  z-index: 1;
  position: relative;
  transition: 0.3s;
}

.rn-banner-area .item-description .profile-share a:last-child {
  margin-left: 15px;
}

.rn-banner-area .item-description .profile-share a img {
  max-width: 40px;
  border: 2px solid #ffffff14;
  border-radius: 50%;
  transition: 0.3s;
  margin-right: -10px;
  z-index: 3;
}

.rn-banner-area .item-description .profile-share a img:hover {
  transform: scale(1.2);
  margin-top: -5px;
  z-index: 5;
}

.rn-banner-area .item-description p {
  margin-bottom: 30px;
  font-size: 18px;
}

.item-description {
  padding: 25px;
  background: #9999992e;
  border-radius: 5px;
  backdrop-filter: blur(15px);
}

.mt-35 {
  margin-top: 35px;
}
.rn-banner-area .img-thumb-award {
  text-align: right;
}

.rn-banner-area .img-thumb-award img {
  width: 130px;
}

.rn-banner-area .slick-dots {
  display: block;
  position: relative;
  width: 100%;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  text-align: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.rn-banner-area .slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border: 2px solid transparent;
  background: #212e48;
  border-radius: 50%;
  margin: 0 5px;
  transition: 0.3s;
}

.rn-banner-area .slick-dots li.slick-active button {
  width: 14px;
  height: 14px;
  background: transparent;
  border-color: #00a3ff;
}

.rn-banner-area .profile-share a {
  position: relative;
}

.rn-banner-area .profile-share a .in_tooltip {
  position: absolute;
  padding: 5px 5px;
  text-align: center;
  border-radius: 5px;
  width: 100px;
  background: #212e48;
  top: -100%;
  right: -130%;
  opacity: 0;
  transition: 0.3s;
  transform: translateY(10px);
}

.rn-banner-area .profile-share a .in_tooltip::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #212e48;
}

.rn-banner-area .profile-share a .in_tooltip span {
  color: #fff;
}

.rn-banner-area .item-description .profile-share a:hover .in_tooltip {
  opacity: 1;
  transform: translateY(-20px);
}

/* content right */

/* footer */
.rn-footer-area {
  padding-left: 290px;
}

.rn-footer-area .inner .logo img {
  max-width: 120px;
}

.rn-footer-area .inner {
  border-top: 1px solid #ffffff14;
  padding-top: 50px;
  padding-bottom: 50px;
}

.rn-footer-area .inner .description {
  margin: 0;
  margin-top: 30px;
  padding: 0;
  font-size: 18px;
  color: #acacac;
}

.rn-footer-area .inner .description a {
  color: #acacac;
}

.rn-footer-area .inner .description a:hover {
  color: #00a3ff;
}

/* footer */

@media only screen and (max-width: 1200px) {
  .rn-banner-area .item-description,
  .rn-banner-area .img-thumb-award {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 992px) {
  .rn-nft-mid-wrapper .rn-top-bar-area {
    justify-content: center;
  }
  .rn-nft-mid-wrapper {
    padding-left: 0px;
  }
  .rn-footer-area {
    padding-left: 0px;
  }
  .rn-footer-area.pr--40px {
    padding-right: 0px;
  }
  .rn-nft-mid-wrapper.pr--40px {
    padding-right: 40px;
    padding-left: 30px;
  }
  .eight-section .text-sm-end {
    text-align: left !important;
  }
}

@media only screen and (max-width: 767px) {
  .rn-top-bar-area .contact-area {
    flex-wrap: wrap;
    justify-content: center;
  }
  .pb_sm--70 {
    padding-bottom: 70px !important;
  }
  .pt_sm--70 {
    padding-top: 70px !important;
  }
  .rn-nft-mid-wrapper.pr--40px {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media only screen and (max-width: 576px) {
  .rn-nft-mid-wrapper .rn-top-bar-area {
    padding: 25px 10px;
  }
  .rn-banner-area .img-thumb-award {
    margin-top: 0px;
  }
  .rn-banner-area .rn-banner-wrapper h2.title {
    margin-top: 20px;
  }
  .rn-banner-area .rn-banner-wrapper .product-share-wrapper {
    flex-wrap: wrap;
    margin-top: 0px;
  }
  .rn-banner-area .rn-banner-wrapper .product-share-wrapper .count-downt {
    margin-top: 10px;
  }
}
